.container{
  display: grid;
  grid-template-areas: "nav main";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

.menu{
  display: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  background-color: var(--primary-bg);
  padding: .3rem;
  z-index: 100;
  transform: perspective(38em) rotateX(348deg) rotateY(14deg);
  transition: transform .3s ease-in-out;
  box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  border-radius: 10px;
  border: 1px solid;
  border-color:
    rgb(213, 220, 226)
    rgb(213, 220, 226)
    rgb(184, 194, 204);
  user-select: none;
}

.menu:hover{
  transform: perspective(38em) rotateX(360deg) rotateY(0deg) scale(1.1);
}

.menu:active{
  transform: perspective(38em) rotateX(360deg) rotateY(0deg) scale(1.2);
}

.menu svg{
  fill: var(--primary);
  width: 1.5rem;
  height: 1.5rem;
}

.nav{
  overflow: hidden;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;

  background-color: var(--primary-bg);
  color: var(--primary-textColor);

  padding-top: 2rem;
}

.nav .perfil{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.nav .perfil img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.nav .perfil h4{
  color: var(--primary);
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.2em;
}

.nav ul{
  list-style: none;
  width: 100%;
  padding: 0;
}

.nav ul li{
  text-align: start;
  border-top: 1px solid var(--primary-bg-border);
}

.nav ul li a{
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2rem;
  padding: 1rem .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav ul li a svg{
  fill: var(--primary-textColor);
  width: 1.2rem;
  min-width: 1.2rem;
  height: 1.2rem;
}

.nav ul li:last-child{
  border-bottom: 1px solid var(--primary-bg-border);
}

.nav ul li:not(.active){
  opacity: .8;
}

.nav ul li:not(.active):hover{
  border-right: 5px solid var(--primary);
  opacity: 1;
}

.nav ul li.active{
  border-right: 5px solid var(--primary);
  opacity: 1;
}

.main{
  grid-area: main;
  background-image: url("/background-desk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--secondary-textColor);
}

.main .card{
  width: 90%;
  max-width: 90%;
  margin: 2rem auto;
  background-color: var(--secondary-bg);
  color: var(--secondary-textColor);
  padding: 1rem;
  box-shadow: var(--shadow);
  height: calc(100vh - 4rem);
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.main .card .header{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 2.5rem;
}

.main .card .header h2{
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--primary);
}

.main .card .header .borderLeft{
  position: absolute;
  border-top: 3px solid var(--primary);
  border-left: 3px solid var(--primary);
  width: 100%;
  max-width: 100px;
  height: 80%;
  left: -6px;
  top: -6px;
}

.main .card.pageOut {
  animation: scale-out-center .5s cubic-bezier(.55,.085,.68,.53) both
}

.main .card.pageInTop{
  animation: slide-in-fwd-top .4s cubic-bezier(.25,.46,.45,.94) both
}
.main .card.pageInRight{
  animation: slide-in-fwd-right .4s cubic-bezier(.25,.46,.45,.94) both
}
.main .card.pageInLeft{
  animation: slide-in-fwd-left .4s cubic-bezier(.25,.46,.45,.94) both
}

.main .card[data-is-home="true"]{
  background-color: transparent;
  box-shadow: none;
}

.main .card[data-is-home="true"] .header{
  display: none;
}


@media screen and (max-width: 768px){
  .container{
    grid-template-areas: "nav main";
    grid-template-columns: 0 1fr;
    grid-template-rows: 1fr;
    transition: grid-template-columns .3s ease-in-out;
    position: relative;
  }

  .container.menuOpen nav{
    width: 90vw;
    max-width: 300px;
  }

  .menu{
    display: block;
  }

  .nav{
    z-index: 999;
    max-width: 300px;
    transition: width .3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    padding-bottom: 1rem;
    overflow-y: auto;
  }

  .nav .perfil h4{
    white-space: nowrap;
  }

  .nav ul li a{
    white-space: nowrap;
  }

  main .card .header .borderLeft{
    display: none;
  }

  .main .card .header h2{
    font-size: 2.5rem;
  }
}

@keyframes scale-out-center{0%{transform:scale(1);opacity:1}100%{transform:scale(0);opacity:0}}


@keyframes slide-in-fwd-top{0%{transform:translateZ(-1400px) translateY(-800px);opacity:0}100%{transform:translateZ(0) translateY(0);opacity:1}}
@keyframes slide-in-fwd-right{0%{transform:translateZ(-1400px) translateX(1000px);opacity:0}100%{transform:translateZ(0) translateX(0);opacity:1}}
@keyframes slide-in-fwd-left{0%{transform:translateZ(-1400px) translateX(-1000px);opacity:0}100%{transform:translateZ(0) translateX(0);opacity:1}}